@model MVC.PL.Models.AdminModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Admin Page";
}

    <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#single">Users</a></li>
        <li><a href="#multiple">Skill Categories</a></li>
        <li><a href="#statistics">Statistics</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="single">
            @Html.Partial("_UsersView", Model)
        </div>
        <div class="tab-pane" id="multiple">
            @Html.Partial("_SkillsAdminView", Model)
        </div>
        <div class="tab-pane" id="statistics">
            @Html.Partial("_StatisticsView", Model)
        </div>
    </div>

<script>
    $(function() {
        $('#myTab a').click(function(e) {
            e.preventDefault();
            $(this).tab('show');
        });
    });

    function CloseAddCategory() {
        document.getElementById("AddCategoryName").text = "";
        document.getElementById("AddCategoryError").text = "";
        $('#CategoryAdd').modal('hide');
    }
</script>