@model MVC.PL.Models.ManagerModel

<h2>Search</h2>
<div class="row">
    <div class="col-md-6" id="left">
        <table class="table-striped">
            @foreach (var item in Model.SkillCategory)
            {
                @Html.Partial("_SkillManagerView", item)
            }
        </table>
    </div>
    <div class="col-md-6" id="right">
        <div class="skills">
            <h3>
                <strong>Users with such level of skills</strong>
            </h3>
            @foreach (var profile in Model.Users)
            {
                <div class="well">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 .text-left .glyphicon-text-width">@profile.Login.Trim()</div>
                            <div class="col-md-6 .text-left"><a href="mailto:@profile.Email.Trim()">@profile.Email.Trim()</a></div>
                            @{ string phone = !string.IsNullOrEmpty(profile.Phone) ? profile.Phone : "not indicated"; }
                            <div class="col-md-3 .text-left">@phone</div>
                        </div>
                    </div>
                </div>
            }
            @if (!Model.Users.Any())
            {
                <div class="well">
                    <div class="container">
                        <div class="row">
                            <div class=".text-left"><h4>There are no users with such parameters</h4></div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>