@{
    ViewBag.Title = "Home Page";
}
<div class="content">
    <div class="container">

        <div class="content-mid">
            <div class="col-md-4 content-mid-1">
                <div class="port effect-1">
                    <div class="image-box">
                        <img src="~/images/a.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="text-desc text-ed">
                        <h6>Join to us</h6>
                        <p>It is very simple to register and get started</p>
                    </div>
                </div>
            </div>
            <div class="col-md-8 content-top1">
                <div class="content-top2">
                    <h4>Knowledge </h4>
                    <p>
                        Knowledge is a human research portal, where you can express yourself.
                        Managers of many companies view user profiles every day and the best are selected.
                        To get noticed, just register, fill out a profile and information about your skills.
                    </p>
                    <p>
                        It is very important to specify the e-mail address or phone number,
                        the manager will be able to contact you when you will choosen.
                    </p>
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="content-mid">
                <div class="col-md-4 content-mid-1">
                    <div class="port effect-1">
                        <div class="image-box">
                            <img src="~/images/a1.jpg" alt="" class="img-responsive">
                        </div>
                        <div class="text-desc text-ed">
                            <h6>Education</h6>
                            <p>Improve your skills every day and you will be able to get best work</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 content-top1">
                    <div class="content-top2">
                        <h4>For managers </h4>
                        <p>
                            To become a manager, you need after filling the profile,
                            contact with the administrator and notify him or her that you are a HR-employee.
                            Your application will be reviewed within one working day, and then you all managers to be added.
                        </p>
                        <p>
                            For contact with administrator see contacts section.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>